@CHARSET "ISO-8859-1";

body{
	background-image: url("imagens/teclado.png");
	background-repeat: no-repeat;
}

h1{
	top: 15%;
	left: 30%;
	color: gray;
	text-shadow: 2px 2px 2px black;
	font-size: 54px;
}

	
article {
	float: left;
 }

